:root {
    --primary-color: #000;
    --white: #fff;
    --light-color: #feaee175;
    --gap: 3rem;
    --secondary-color: rgb(224, 81, 110);
    --decoration-color: rgb(144, 120, 65); 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oxanium:wght@300;400;700&display=swap');

/* font-family: 'Montserrat' , 'sans-serif';
font-family: 'Open Sans' , 'sans-serif'; */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    margin: 1.3rem 0;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.3rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}


.main-bg {
    background-image: url('/img/main-bg.svg');
    background-position: center center;
    background-size: cover;
    color: black;
}

.white-bg {
    background-image: url('../img/logos/image00004.png');
    background-position: center center;
    background-size: cover;
    color: black;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4.7rem 0 4.7rem;
}

.allsection {
    min-height: 100vh;
}

.menu-spacing {
    height: 4rem;
}

.menu {
    background: var(--white);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    border-bottom: 0.35rem solid var(--light-color);

}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul li a {
    display: block;
    color: var(--primary-color);
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    background: var(--secondary-color);
    height: 0.2rem;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%
}

.logo {
    box-sizing: content-box;
    margin-bottom: -5rem;
    margin-top: -2rem;
}

.logo img {
    width: 15rem;
    height: 12rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.intro-content {
    position: relative;
    top: -2.7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    padding-top: 7rem;
    
}

.about-me {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    justify-content: center;
    margin-bottom: -2.7rem;
}


.intro-img img {
    width: 100%;
    max-width: 57rem;
    height: 100%;
    margin: 0 auto;
  
}

.Specialties-content, .pricing-content {
    max-width: 90rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 100vh;
    padding-top: 10rem;
}

.Specialties-content p {
    margin: 1.3rem 0;
    text-align: justify;
}

.top3-grid-content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    min-height: 100vh;
    padding-top: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h4 {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 2.5rem;
}

.grid h4::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -2.5rem;
    left: -3rem;
    transform: rotate(4deg);
}

.top3-grid-content h2 {
    margin-bottom: 1rem;
    margin-top: 3.7rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.imagem img {
    width: 100%;
    flex-flow: column wrap;
    max-width: 29rem;
    max-height: auto;
    box-shadow: -3px -3px 5px 3px var(--decoration-color), 3px 3px 5px 2px;
}


.gallery-img img {
    width: 100%;
    max-width: 30rem;
    max-height: auto;
    overflow: hidden;
    margin-top: 1rem;
}

.gallery-content {
    max-width: 97rem;
    padding-top: 10rem;
}


.gallery-img img {
    transition: all 300ms ease-in-out;
    box-shadow: -3px -3px 5px 3px var(--decoration-color), 3px 3px 5px 2px;
}

.gallery-img img:hover {
    transform: translate(2%, 2%) scale(1.1) rotate(0.2deg);
}


.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 7rem;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    border: 0.3rem solid var(--light-color);
    text-align: left;
    padding: 0.9rem;
    white-space: wrap;
}

tfoot td, table th{
    background: var(--light-color);
}


.contact-content {
    padding-top: 15rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: var(--gap);
    min-height: 100vh;
}

.contact-img{
    display: flex;
    justify-content: end;
}

.contact-img img {
    max-width: 36rem;
    max-height: 36rem;
    border-radius: 50%;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: 0.1rem solid var(--secondary-color);
    background: rgba(249, 170, 219, 0.185);
    padding: 1.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.7rem;
    outline: #fff;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 5px 1px var(--secondary-color);
}

.full-width {
    flex: 1 1 100%;
}

.form-group button {
    border: 0.2rem solid var(--secondary-color);
    background: none;
    padding: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--secondary-color);
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
    background: #84868f;
}

.success {
    color: var(--secondary-color);
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
    font-family: 'Courier New', Courier, monospace;
}

.error {
    color: tomato;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-top: 10rem;
    font-family: 'Courier New', Courier, monospace;
}

.form-group ::placeholder {
    color: rgb(174, 169, 169);
}

footer {
    height: 6rem;
    padding: 0.2rem;
   
}

.footer a {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    font-size: 2rem;
    font-style: oblique;
}

.footer a:hover {
    color: var(--white);
}