
@media (min-height:1080px) {
    .intro-img {
        margin-bottom: -9rem;
    }
}

.close-menu {
    display: none;
}

@media (max-width:936px) {
    .font-size-11 { font-size: calc(1.1rem + 1.1vw) }
    .font-size-12 { font-size: calc(1.2rem + 1.2vw) }
    .font-size-14 { font-size: calc(2.2rem + 1.4vw) }
    .font-size-15 { font-size: calc(2.7rem + 1.5vw) }
    .font-size-17 { font-size: calc(3.3rem + 1.7vw) }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 80vw;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    body {
        min-width: 36rem;
    }

    .intro-content {
        margin-top: -1rem;
        padding-top: 12rem;
    }

    .intro-img img {
        min-width: 36rem;
    }

    .Specialties-content {
        gap: 1rem;
    }


    .grid {
        grid-template-columns: 1fr;
    }

    .imagem img,
    .gallery-img img {
        max-width: 100%;
        max-height: auto;
    }

    #responsive-table{
        width: 99vw;
        overflow-x: auto;
    }

    .contact-img{
        justify-content: center;
    }

    .contact-img img {
        max-width: 34rem;
    }

    /*Menu*/
    label {
        font-size: 3rem;
    }

    .menu {
        bottom: 0;
        text-align: center;
        display: none;
        max-width: 75%;
    }

    .menu-content {
        height: 100vh;
        margin-top: -3rem;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
    }

    .menu ul li a {
        font-size: 2rem;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 3rem;
        right: 2rem;
        
    }

    .menu-spacing {
        height: 8rem;
        background-color: var(--white);
        position: fixed;
        width: 100%;
        z-index: 1;
        box-sizing: content-box;
    }

    .menu-spacing img {
        margin-top: -2.3rem;
        width: 14rem;
        height: 14rem;
        content: url(/img/logos/image00006.png);
    }
    
    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--secondary-color);
        color:var(--white);
        font-size: 3rem;
        line-height: 3rem;
        width: 2.5rem;
        height: 2.7rem;
        text-align: center;
        padding: 0.3rem;
        cursor: pointer;
    }

    .logo img{
        min-width: 27rem;
        min-height: 27rem;
     }


    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.menu-spacing {
        display: none;
    }

    .close-menu:checked~.close-menu-label::after {
        content: 'x';
    }

}

@media (min-width: 1675px) and (max-width:2000px) {
    .logo img {
        width: 22rem;
        height: 20rem;
    }

    .logo {
        margin-bottom: -8.3rem;
        margin-top: -3rem;
    }

    .menu ul li a {
        font-size: 2.6rem;
    }

    .main-content {
        max-width: 140rem;
        font-size: 3rem;
    }

    .main-content.intro-content {
        max-width: 140rem;
        padding-bottom: 1rem;
    }

    .intro-content {
        top: -14rem;
    }

    .about-me h2 {
        font-size: 6rem;
        margin-top: 20rem;
    }

    .about-me p {
        font-size: 3rem;
    }

    .intro-img img {
        width: 100%;
        max-width: 73.219rem;
        height: auto;
        margin-bottom: -25.3rem;
    }
}